XIAOTIANCAI_EMAIL_ALLOWED_USERS=wzs
XIAOTIANCAI_EMAIL_USER_CENTER_URL=https://auth.ai.xmkurt.com
XIAOTIANCAI_EMAIL_SECURITY_AUTHORIZATION_CODE=
XIAOTIANCAI_EMAIL_CREDENTIAL_ID=16
XIAOTIANCAI_EMAIL_FROM=dragonimp@impx.net
XIAOTIANCAI_EMAIL_TO=developer@eebbk.com
XIAOTIANCAI_EMAIL_SMTP_HOST=smtp.qq.com
XIAOTIANCAI_EMAIL_SMTP_PORT=465
XIAOTIANCAI_EMAIL_THREAD_MESSAGE_ID=<latest-message-id@impx.net>
